In [1]:
!pip3 install -Uqq fastbook
import fastbook
fastbook.setup_book()

In [2]:
from fastbook import *

In [3]:
from fastai.collab import *
from fastai.tabular.all import *

In [5]:
ratings = pd.read_csv('ratings.csv')
print(ratings.shape)
ratings.head()

(981756, 3)

   book_id  user_id  rating
0        1      314       5
1        1      439       3
2        1      588       5
3        1     1169       4
4        1     1185       4

In [6]:
ratings.drop_duplicates(["user_id","book_id"], inplace = True) 
ratings.shape

(979478, 3)

In [7]:
books = pd.read_csv('books.csv')
books.head()

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,title,language_code,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,"The Hunger Games (The Hunger Games, #1)",eng,4.34,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m/2767052.jpg,https://images.gr-assets.com/books/1447303603s/2767052.jpg
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",eng,4.44,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m/3.jpg,https://images.gr-assets.com/books/1474154022s/3.jpg
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,"Twilight (Twilight, #1)",en-US,3.57,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m/41865.jpg,https://images.gr-assets.com/books/1361039443s/41865.jpg
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,To Kill a Mockingbird,eng,4.25,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m/2657.jpg,https://images.gr-assets.com/books/1361975680s/2657.jpg
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,The Great Gatsby,eng,3.89,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m/4671.jpg,https://images.gr-assets.com/books/1490528560s/4671.jpg

In [8]:
books = books.drop(['best_book_id', 'work_id', 'books_count', 'isbn', 'isbn13', 'language_code',
                    'work_ratings_count', 'work_text_reviews_count', 'image_url', 'small_image_url', 'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5'], axis=1, errors='ignore')
books.head()

,id,book_id,authors,original_publication_year,original_title,title,average_rating,ratings_count
0,1,2767052,Suzanne Collins,2008.0,The Hunger Games,"The Hunger Games (The Hunger Games, #1)",4.34,4780653
1,2,3,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",4.44,4602479
2,3,41865,Stephenie Meyer,2005.0,Twilight,"Twilight (Twilight, #1)",3.57,3866839
3,4,2657,Harper Lee,1960.0,To Kill a Mockingbird,To Kill a Mockingbird,4.25,3198671
4,5,4671,F. Scott Fitzgerald,1925.0,The Great Gatsby,The Great Gatsby,3.89,2683664

In [9]:
books.drop_duplicates('title', inplace=True)
books.shape

(9964, 8)

In [10]:
books_with_nan = books.isnull().any(axis=1)
for index, row in books[books_with_nan].iterrows():
    ratings = ratings[ratings.book_id != row.book_id]
ratings.shape

(977601, 3)

In [11]:
books.dropna(subset=['original_title'], inplace=True)
books.shape

(9381, 8)

In [12]:
books = books[['id', 'original_title']]
books = books.rename(columns={'id':'book_id'})
books.head()

   book_id                            original_title
0        1                          The Hunger Games
1        2  Harry Potter and the Philosopher's Stone
2        3                                  Twilight
3        4                     To Kill a Mockingbird
4        5                          The Great Gatsby

In [13]:
ratings_df = ratings.merge(books)
ratings_df.head()

   book_id  user_id  rating    original_title
0        1      314       5  The Hunger Games
1        1      439       3  The Hunger Games
2        1      588       5  The Hunger Games
3        1     1169       4  The Hunger Games
4        1     1185       4  The Hunger Games

In [14]:
ratings_df = ratings_df.rename(columns={'original_title':'title'})
ratings_df.head()

   book_id  user_id  rating             title
0        1      314       5  The Hunger Games
1        1      439       3  The Hunger Games
2        1      588       5  The Hunger Games
3        1     1169       4  The Hunger Games
4        1     1185       4  The Hunger Games

In [15]:
dls = CollabDataLoaders.from_df(ratings_df, user_name='user_id', item_name='title', bs=64)
dls.show_batch()

In [16]:
len(ratings_df[['book_id']].drop_duplicates())

9362

In [17]:
n_users  = len(dls.classes['user_id'])
n_books = len(dls.classes['title'])

print('No. of users ', n_users)
print('No. of books ', n_books)

No. of users  52279
No. of books  9239

In [18]:
class DotProduct(Module):
    def __init__(self, n_users, n_books, n_factors):
        self.user_factors = Embedding(n_users, n_factors)
        self.book_factors = Embedding(n_books, n_factors)
        
    def forward(self, x):
        users = self.user_factors(x[:,0])
        books = self.book_factors(x[:,1])
        return (users * books).sum(dim=1)

In [19]:
x,y = dls.one_batch()
x.shape

torch.Size([64, 2])

In [20]:
model = DotProduct(n_users, n_books, 50)
learn = Learner(dls, model, loss_func=MSELossFlat())

In [21]:
learn.fit_one_cycle(5, 5e-3)

In [22]:
# Providing a range for y
class DotProduct(Module):
    def __init__(self, n_users, n_books, n_factors, y_range=(0,5.5)):
        self.user_factors = Embedding(n_users, n_factors)
        self.book_factors = Embedding(n_books, n_factors)
        self.y_range = y_range
        
    def forward(self, x):
        users = self.user_factors(x[:,0])
        books = self.book_factors(x[:,1])
        return sigmoid_range((users * books).sum(dim=1), *self.y_range)

In [23]:
model = DotProduct(n_users, n_books, 50)
learn = Learner(dls, model, loss_func=MSELossFlat())
learn.fit_one_cycle(5, 5e-3)

In [24]:
# Providing some bias
class DotProductBias(Module):
    def __init__(self, n_users, n_books, n_factors, y_range=(0,5.5)):
        self.user_factors = Embedding(n_users, n_factors)
        self.user_bias = Embedding(n_users, 1)
        self.book_factors = Embedding(n_books, n_factors)
        self.book_bias = Embedding(n_books, 1)
        self.y_range = y_range
        
    def forward(self, x):
        users = self.user_factors(x[:,0])
        books = self.book_factors(x[:,1])
        res = (users * books).sum(dim=1, keepdim=True)
        res += self.user_bias(x[:,0]) + self.book_bias(x[:,1])
        return sigmoid_range(res, *self.y_range)

In [26]:
model = DotProductBias(n_users, n_books, 50)
learn = Learner(dls, model, loss_func=MSELossFlat())
learn.fit_one_cycle(5, 5e-3)

In [27]:
# With weight decay
model = DotProductBias(n_users, n_books, 50)
learn = Learner(dls, model, loss_func=MSELossFlat())
learn.fit_one_cycle(5, 5e-3, wd=0.1)